body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

body {
    background-image: url("http://www.netanimations.net/HauntedHouseGhostsFloating-1.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Esto evita que la imagen de fondo se desplace con el contenido */
    opacity: 5;
}
h1{
    font-size: 36px;
    text-align: center;
    color: #0ad5f9; /* Color del texto */
    background-color: #000; /* Color de fondo */
    padding: 20px; /* Espaciado alrededor del texto */
    opacity: 0.7; /* Opacidad del texto (valores entre 0 y 1, donde 0 es completamente transparente y 1 es completamente opaco) */

}

#botones1 {
    font-size: 18px; /* Cambia el tama침o de fuente */
    padding: 10px 20px; /* Cambia el relleno (padding) para ajustar el tama침o de los botones */
    border: none; /* Elimina el borde */
    cursor: pointer;
    margin: 10px; /* Agrega margen alrededor de los botones */
}

#botones1 {
    background-color: #1b6796; /* Cambia el color de fondo para el bot칩n "F치cil" */
    color: white; /* Cambia el color del texto */
}





.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #303336;
    color: #fff;
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
}

#codigo {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ffffff;
    color: #1b6796;
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
}